<!-- Footer Component -->
<footer class="page-footer">
    <div class="container">
        <div class="information">
            <strong><h6 class="Information">Additional Information</h6></strong>
            <div class="aa">
            <br>Wah Cheong Bicycle Shop is committed to providing customers with the best products and services.Mountain bikes, water bikes, road bikes and various accessories can be found in Wah Cheong.
            </div>
        </div>
        <div class="contact">
            <strong><h6 class="Contact">Contact Us</h6></strong>
            <div class="bb">
            <img class="map"src="map.jpg" width="18px" height="22px">
            395,<br><div class="address">JALAN TEBRAU,<br>TAMAN MAJIDEE,<br>80250 JOHOR BAHRU,<br>JOHOR.</div>
            <p><img class="phone"src="phone.JPG" width="22px" height="22px">+ 07 332 1594</p>
            <p><a class="icon" href="https://web.facebook.com/wahcheong66"><img class="fbicon"src="fbicon.JPG" width="27px"height="25px">Facebook Page</a></p>
            </div>
        </div>
    </div>
    <div class="copyright">Copyright © ruay2023</div>
</footer> 