<!-- Header Component -->
<div class="for">
    <h1 class="logo"><img src="logo.png" width="60px" height="60px"/></h1>
    <h1 class="title">Kedai Basikal Wah Cheong</h1>
    <a href="https://web.facebook.com/wahcheong66"><img class="fb" src="fb.png" width="65px" height="60px"></a>
</div>
<div class="dnav">
    <ul>
        <li class="nav"><a class="color" href="index.html"><b>HOME</b> </a></li> 
        <li class="nav"><a class="color" href="About.html"><b>ABOUT US</b></a></li>
        <li class="nav"><a class="color" href="History.html"><b>HISTORY</b></a></li> 
        <li class="nav"><a class="color" href="Products.html"><b>PRODUCTS</b></a></li>
    </ul> 
</div> 